<nav class="navbar navbar-expand-sm navbar-custom navbar-dark static-top mb-5 shadow">
    <ul class="navbar-nav">
        <!-- <li class="nav-item"><a routerLinkActive="active" class="nav-link" routerLink="/login">Login</a></li> -->
        <li class="nav-item"><a routerLinkActive="active" class="nav-link" routerLink="/accueil">Accueil</a></li>
        <li class="nav-item"><a routerLinkActive="active" class="nav-link" routerLink="/p1">Afficher Les Articles</a></li>
        <li class="nav-item"><a routerLinkActive="active" class="nav-link" routerLink="/adddog">Ajouter </a></li>
        <li class="nav-item"><a routerLinkActive="active" class="nav-link" routerLink="/change">Modifier </a></li>
        <li class="nav-item"><a routerLinkActive="active" class="nav-link" routerLink="/search">Search </a></li>

    </ul>
    <!-- <form class="form-inline search" action="">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-primary" type="submit">Search</button>
      </form> -->
</nav>

