
        <h1 style="text-align: center;">Pet Finder</h1>

        <div class="bg">
                        <!-- Page Content -->
                        <div class="container">
                          <div class=" bg card border-0 shadow my-9">
                            <div class="card-body p-5">
                             
                             
                              <p style="font-weight: bold;">At PuppySpot you can rest assured that your new puppy is coming from a vetted,<br> responsible breeder.<br> We are a community of dog lovers committed to helping you find the perfect puppy for your experience level,<br> family, and home.

                                        If you need more help,<br> visit our Puppy Finder where you can get help narrowing down your choices.<br> We know that searching for a puppy for sale can be stressful,<br> that’s why everything we do is designed to ensure our puppies come from great breeders and are only placed with families committed to providing a forever home for their new companion.<br> If you share our commitment, then you’re ready to add the joy of a puppy to your life.<br></p>
                              <div  style="height: 600px;"> <nav>
                                <div id="carte">
                                  <h2>Find Us</h2>
                                  <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1kEX-peI7IkdVcEQv2EoQLgCL5vD2pl05" width="95%" height="450px"></iframe>
                                </div>
                              </nav></div>
                             
                            </div>
                            
                          </div>
                         
                        </div>
                       
                        </div>
                        <footer id="sticky-footer" class="py-4 bg-black text-white-50">
                            <div class="container text-center">
                              <small>Copyright &copy; SouidAbdelwehed</small>
                            </div>
                          </footer>